version: "3"

services:
  tsc-express-api:
    image: tsc-express
    build: 
      context: ./
      dockerfile: Dockerfile
    user: "node"
    working_dir: /home/node/app
    volumes:
      - .:/home/node/app
    ports:
      - "9000:9000"
     # - "9443:9443"    SSL
    depends_on: 
      - mongo 

  mongo:
    image: mongo
    restart: always
    # environment:
    #   MONGO_INITDB_ROOT_USERNAME: admin
    #   MONGO_INITDB_ROOT_PASSWORD: password
    ports: 
      - "27017:27017"
    volumes: 
      - db-data:/sampledb

volumes: 
  db-data:    